.App {
  text-align: center;
}

.Footer {
  display: flex;
  width: 100%;
  height: calc(10vh);
  background-color: aqua;
  justify-content: center;
  align-items: center;
}

.Header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: .3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: calc(10vh);
  background-color: aqua;
}

.Home, .Projects, .Resume {
  min-height: calc(100vh);
}

.homeIntro {
  height: calc(55vh);
  margin-top: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.homeIntro:last-child {
  margin-top: 0px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}

.homeImage, .homeText, .homeImagePic {
  background-color: aqua;
  height: 90%;
  width: 45%;
  box-shadow: 0 10px 10px #303030;
}

.homeTextTitle {
  font-weight: 800;
  text-align: left;
  margin-left: 10px;
}

.icon {
  margin: 0 10px 0 10px;
  cursor: pointer;

}

.Nav {
  text-decoration: none;
  color: black;
}


