.aboutMe {
  margin: 10px;
}

.App {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.Footer {
  display: flex;
  width: 100%;
  height: calc(10vh);
  justify-content: center;
  align-items: center;
  background: rgb(101,112,125);
  background: radial-gradient(circle, rgba(101,112,125,1) 0%, rgba(86,96,108,1) 100%);
}

.Header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: .3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: calc(10vh);
  background: rgb(46,76,127);
  background: linear-gradient(0deg, rgba(46,76,127,1) 0%, rgba(54,87,144,1) 100%);
}

.Home, .Projects, .Resume {
  min-height: calc(90vh);
}

.homeImage {
  background-image: url("../src/assets/IMG_6823.jpg");
  background-size: cover;
  background-position: center;
  grid-area: 1 / 1 / 3 / 2;
  height: 90%;
  width: 95%;
  box-shadow: 0 10px 10px #303030;
}

.homeIntro {
  height: calc(90vh);
  margin: 15px auto 15px auto;
  padding: 15px 0 15px 0;
  width: 90%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: .5fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center
}

.homeText, .homeText2 {
  height: 90%;
  width: 95%;
  box-shadow: 0 10px 10px #303030;
}

.homeText {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  align-items: center;
}

.homeText2 {
  grid-area: 2 / 2 / 3 / 3;
}

.homeTextTitle {
  font-weight: 1000;
  text-align: left;
  font-size: 2.3vw;
  margin: 10px;
}

.icon {
  margin: 0 10px 0 10px;
  cursor: pointer;
  text-decoration: none;
}

.icon:visited {
  color: white;
}

.logo {
  position: absolute;
  height: 60px;
  top: 0;
  left: 0;
}

.Nav {
  text-decoration: none;
  color: white
}

.projectCard {
  height: 90%;
  width: 95%;
  box-shadow: 0 10px 10px #303030;
}

.projectSection {
  height: calc(90vh);
  margin: 15px auto 15px auto;
  padding: 15px 0 15px 0;
  width: 90%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center
}

.Resume {
  width: 100%;
  display: grid;
  grid-column: auto;
  justify-content: center;
  align-items: center;
}

.resumeDisplay {
  height: 85vh;
  width: 95vh;
}



